<div class="container">
        <div class="row">
          <div class="section" id="movie-lists">
            <ul class="collection with-header col s12">
              <li class="collection-header cyan lighten-3">
                <h4>Top 10 Movie List</h4>
              </li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item">Movie</li>
              <li class="collection-item"><a class="waves-effect waves-light btn">Back</a></li>
            </ul>
            

          </div>
        </div>
      </div>