 <div class="container">
      <div class="row fix-fonts">
        <div class="col s6 offset-s3">
          <div class="card blue-grey lighten-5">
            <div class="card-content">
              <span class="card-title center">Please Login:</span>
              <form action="" id="login-form">
                  <div class="input-field">
                    <input id="login_email" type="email" class="validate" autocomplete="username" />
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field">
                    <input id="login_password" type="password" class="validate"/>
                    <label for="password">Password</label>
                    <button class="btn waves-light indigo" type="submit" name="action">Submit
                    </button>
                  </div>
              </form>
            </div>
            <div class="card-action">
              <a href="/signup">New? Sign Up Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>