 <div class="container">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card blue-grey lighten-5">
            <div class="card-content">
              <span class="card-title center">Sign Up Here:</span>
              <form action="" id="sign-up-form">
                <div class="input-field">
                    <input id="first_name" type="text" class="validate" />
                    <label for="first_name">first name</label>
                  </div>
                  <div class="input-field">
                    <input id="last_name" type="text" class="validate"/>
                    <label for="last_name">last name</label>
                  </div>
                  <div class="input-field">
                    <input id="email" type="email" class="validate" autocomplete="email"/>
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field">
                    <input id="password" type="password" class="validate"/>
                    <label for="password">Password</label>
                    <button class="btn waves-light" type="submit" name="action">Submit
                    </button>
                  </div>
              </form>
            </div>
            <div class="card-action">
              <a href="#">Already a Member? Login Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>