<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="create user">
</form>

<p>Already a user? <a href="/login">login</a> here!</p>