header {
    margin-bottom: 100px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#movie_search {
    font-size: 60px;
    color: grey;
}

#addToListId {
    /* bad way to do this. i'll fix it later */
    margin-top: 150px;
}

#movie-lists {
    display: flex;
    justify-content: space-around;
}